body, h1,p{
    margin: 10px;
    padding: 0;
}
header{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding:20px;
}
#About-me{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px; 
    margin: 10px 0px ;
    background-color: #f4f4f4;
}
 #About-me img {
    max-width: 250px;
}
.para{
    width: 50vh;
}
#My-Skills{

 background-color: #f4f4f4;
 margin: 10px 0px;
 padding: 20px;
}
#My-Skills h2 {
    text-align: center;
}

#My-Skills ul li{
    margin-left: 0px;
    padding-left: 0px;
}
.Skills{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Skills h3{
    text-align: center;
}
#My-Projects {
    padding: 20px; 
    text-align: center;
    background-color: #f4f4f4;
    margin: 10px 0px;
}

.Project {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.Project img {
    width: 300px ;
    height: 300px;
    
}

#My-Resume {
    text-align: center;
    padding: 20px; 
    background-color: #f4f4f4;
    margin: 10px 0px;

}
#My-Contacts {
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
    margin: 10px 0px;
}
.Contacts{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
margin-top: 10px;}

